body{
  background-color: blue
}

/*Row One*/
.rowOne{
  position: absolute;
  top: 100px;
  height:125px;
  width:125px;
}
/*Row Two*/

/*Row Three*/

/*Row Four*/

/*Row Five*/

/*Column One*\

/*Column Two*\

/*Column Three*\

/*Column Four*\
