body{
  background-color: salmon;
}
/*All Buttons*/
.allButtons {
  width: 120px;
  height: 120px;
  font-size: 25px;
  color: darkgreen;
  font-family: monospace;
  text-align: center;
  background-image: linear-gradient(45deg, #b5ffd5, #b5fcf6);
  border: 5px solid darkgreen;
}
.allButtons:hover{
  background-image: none;
  background-image: linear-gradient(45deg, green, #5edb75);
  color: black;
  transition: 0.6s;
}
/*Row One*/
.rowOne{
  position: absolute;
  top: 150px;

}
/*Row Two*/
.rowTwo{
  position: absolute;
  top: 275px;

}
/*Row Three*/
.rowThree{
  position: absolute;
  top: 400px;

}
/*Row Four*/
.rowFour{
  position: absolute;
  top: 525px;

}
/*Row Five*/
.rowFive {
  position: absolute;
  top: 650px;

}
/*Column One*/
.columnOne{
  position: absolute;
  left: 375px;

}
/*Column Two*/
.columnTwo{
  position: absolute;
  left: 500px;

}
/*Column Three*/
.columnThree{
  position: absolute;
  left: 625px;

}
/*Column Four*/
.columnFour{
  position: absolute;
  left: 750px;

}
#buttonZero{
  width:245px;
}
/*InputButton*/
input{
  height: 75px;
  width: 487px;
  position: absolute;
  top: 60px;
  left: 375px;
  background-image: url(watermelons.gif);/*linear-gradient(#b5ffd5,#b5fcf6);*/
  font-size: 40px;
  text-align: right;
  border: 4px solid darkgreen;
  font-family: monospace;
color: white;
}
#buttonPi {
  width: 120px;
  height: 120px;
  font-size: 25px;
  color: darkgreen;
  font-family: monospace;
  text-align: center;
  background-image: linear-gradient(45deg, #b5ffd5, #b5fcf6);
  border: 5px solid darkgreen;
  position: absolute;
  top: 525px;
  left: 250px;
}
#buttonPi:hover {
  background-image: none;
  background-image: linear-gradient(45deg, green, #5edb75);
  color: black;
  transition: 0.6s;
}
